.navbar {
  background-color: #077f94; }

.profile-img {
  box-shadow: 0px 3px 5px rgba(15, 15, 15, 0.5); }

.footer-color {
  background-color: #01c59e; }

.body-bg-color {
  background-color: #98a1a1; }
