.color-titulo-form{
    color: $color-txt;
    padding-top: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

h2{
    .h3{
        color: $color-txt;
    }
}

@for $margin-contacto from 1 through 10 {
	.margen-#{$margin-contacto}{
	margin:10px * $margin-contacto;
	}
}
